.myModal {
  width: 100%;
}

.infoForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

.infoForm > h3 {
  color: red;
}

.infoForm > div > input {
  margin-right: 1rem;
}

.infoForm > div > span {
  color: chocolate;
  border-bottom: 1px solid chocolate;
}

.infoButton {
  padding: 6px 20px;
}

@media (max-width: 520px) {
  .infoForm {
    margin-left: 4rem;
  }
}
